
@{
    ViewData["Title"] = "Pokémon Search";
}

<h1>Pokémon Search</h1>

<form action="../Pokemon/SearchPokemonByName" method="post">
    <input type="text" name="searchName" placeholder="Enter Pokémon Name" class="form-control mb-4" /> 
    <input type="submit" value="Search" class="form-control mb-4" />
</form>
<br />
<form action="../Pokemon/SearchPokemonById" method="post">
    <input type="number" min="1" max="892" name="id" placeholder="Enter International Pokédex Number (1-892)" class="form-control mb-4" />
    <input type="submit" value="Search" class="form-control mb-4" />
</form>
<br />
<<<<<<< HEAD
<form action="../Pokemon/SearchPokemonByType" method="post">
=======
@*<form action="../Pokemon/SearchPokemonByType" method="post">
>>>>>>> 2516b02fba0beadb171911135bae14d7dc76a761
    <label for="type">Select a Pokémon Type</label>
    <select type="number" name="type">
        <option value="1">Normal</option>
        <option value="2">Fighting</option>
        <option value="3">Flying</option>
        <option value="4">Poison</option>
        <option value="5">Ground</option>
        <option value="6">Rock</option>
        <option value="7">Bug</option>
        <option value="8">Ghost</option>
        <option value="9">Steel</option>
        <option value="10">Fire</option>
        <option value="11">Water</option>
        <option value="12">Grass</option>
        <option value="13">Electric</option>
        <option value="14">Pyschic</option>
        <option value="15">Ice</option>
        <option value="16">Dragon</option>
        <option value="17">Dark</option>
        <option value="18">Fairy</option>
    </select>
    <input type="submit" value="Search" class="form-control mb-4" />
<<<<<<< HEAD
</form>
=======
</form>*@
>>>>>>> 2516b02fba0beadb171911135bae14d7dc76a761
