@model FavoritePokemon

<form action="../Pokemon/UpdatePokemon" method="post">
<<<<<<< HEAD
    <input type="text" name="Id" hidden />
    Nickname <input type="text" name="Nickname" />
    
    
=======

    <h1>Name That Pokemon!</h1>
    <p>Nickname</p>
    <input type="text" name="Nickname" />
  
>>>>>>> 4977398e8ebf6d4b70172b2522dac3829979d635
    <input type="submit" value="Save Changes!" />
</form>


