@model FavoritePokemon

<form action="../Pokemon/UpdatePokemon" method="post">

    <h1>Name That Pokemon!</h1>
    <p>Nickname</p>
    <input type="text" name="Nickname" />
  
    <input type="submit" value="Save Changes!" />
</form>


