@model FavoritePokemon

<form action="../Pokemon/UpdatePokemon" method="post">
    <input type="text" name="Id" hidden />
    Nickname <input type="text" name="Nickname" />
    
    
    <input type="submit" value="Save Changes!" />
</form>


