@model FavoritePokemon

<form action="../Pokemon/UpdatePokemon" method="post">
    <input type="text" name="Nickname" value="@Model.NickName" />
  
    <input type="submit" value="Save Changes!" />
</form>


