@model FavoritePokemon
<<<<<<< HEAD
<form action="../Pokemon/UpdatePokemonNickname" method="post">
    <input type="text" name="Id" value="@Model.NickName" hidden />
  
    <input type="submit" value="Save Changes!" />
</form>
=======

<form action="../Pokemon/UpdatePokemon" method="post">
    <input type="text" name="Nickname" value="@Model.NickName" placeholder="@Model.NickName" />

    <input type="submit" value="Change nickname" />
</form>
>>>>>>> curtis
